15 0 * * * cd /opt/triton-dehydrated ; ./dehydrated -c -o /opt/ssl >> /var/log/triton-dehydrated.log 2>&1
30 8 * * * cd /opt/netboot ; ./tools/refresh_repo.sh $(mdata-get datadir)
00 9 * * * cd /opt/netboot ; ./tools/prune_platforms.sh $(mdata-get datadir)
